<div class="container">
    <h2>Événements</h2>
    <div *ngFor="let event of events" class="card my-3">
        <div class="card-body">
            <h5 class="card-title">{{ event.nom }}</h5>
            <button class="btn btn-primary" (click)="selectEvent(event.idEvent)">
                Voir les Questions
            </button>
        </div>
    </div>
</div>