<div class="container mt-5">
  <header class="mb-4">
    <h1 class="text-center">Esport-Survey</h1>
    <p class="text-center">Votez et interagissez avec vos événements préférés</p>
  </header>

  <router-outlet></router-outlet>
</div>