<div class="container">
    <h2>Identification</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-3">
            <label for="ticketNumber" class="form-label">Numéro de Billet</label>
            <input type="text" id="ticketNumber" class="form-control" [(ngModel)]="ticketNumber" name="ticketNumber"
                required />
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">
            Se connecter
        </button>
    </form>
</div>