<div class="container">
    <h2>Résultats</h2>
    <div *ngFor="let result of results" class="card my-3">
        <div class="card-body">
            <h5 class="card-title">{{ result.libelle }}</h5>
            <p>{{ result.percentage }}% ({{ result.count }} votes)</p>
        </div>
    </div>
    <button class="btn btn-secondary" (click)="backToEvents()">Retour aux événements</button>
</div>