<div class="container">
    <h2>Questions pour l'Événement</h2>
    <div *ngFor="let question of questions" class="card my-3">
        <div class="card-body">
            <h5 class="card-title">{{ question.intitule }}</h5>
            <ul class="list-group">
                <li *ngFor="let reponse of question.reponses || []" class="list-group-item">
                    <input type="radio" [value]="reponse.idReponse" name="response{{ question.idQuestion }}"
                        [(ngModel)]="selectedReponses[question.idQuestion]"
                        [disabled]="isQuestionVoted(question.idQuestion)" />
                    {{ reponse.libelle }} <span *ngIf="isQuestionVoted(question.idQuestion)"> ({{ reponse.voteCount || 0
                        }} votes)</span>
                </li>
            </ul>
            <button *ngIf="!isQuestionVoted(question.idQuestion)" class="btn btn-primary mt-2"
                (click)="submitVote(question.idQuestion)" [disabled]="isQuestionVoted(question.idQuestion)">
                Soumettre
            </button>
        </div>
    </div>
</div>